In [2]:
%run basicCleaning.ipynb

/var/folders/wn/p245w4_d07z716yzmy4c4nlc0000gn/T/ipykernel_8811/2433437924.py:127: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  maxScale = int(self.question_dict[self.question_dict["question_id"] == question]["out_of"])
/var/folders/wn/p245w4_d07z716yzmy4c4nlc0000gn/T/ipykernel_8811/2433437924.py:146: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  maxScale = int(self.question_dict[self.question_dict["question_id"] == question]["out_of"])

In [3]:
oldFileDF

,Email,TeamNumber,TeammateNumber,RecipientLastName,RecipientFirstName,2.1,2.2,2.3,3.0,4.1,...,19.3,19.4,19.5,19.6,33.0,34.0,38.1,38.2,38.3,41.0
0,feynmanbarney@berkeley.edu,101-1,1.0,Barney,Feynman,2.0,3.0,3.0,Create a project that follows all of the guide...,3.0,...,2.0,2.0,2.0,2.0,Yes,I was more considerate of my teammates needs a...,1.0,1.0,1.0,Seems good to me
1,smitbhagat@berkeley.edu,101-1,2.0,Bhagat,Smit,3.0,3.0,3.0,NaN,3.0,...,3.0,3.0,3.0,3.0,Yes,NaN,3.0,3.0,3.0,NaN
2,shivdhillon@berkeley.edu,101-1,3.0,Dhillon,Shivreet,3.0,3.0,3.0,NaN,3.0,...,3.0,3.0,3.0,3.0,Yes,NaN,3.0,3.0,3.0,NaN
3,pratik.g@berkeley.edu,101-1,4.0,Gandhi,Pratik,3.0,3.0,3.0,be quicker in meeting and plan beforehand,2.0,...,3.0,3.0,3.0,-2.0,Yes,improved on them,3.0,3.0,3.0,no
4,dawood.junaid@berkeley.edu,101-1,5.0,Junaid,Dawood,3.0,2.0,2.0,"At this point in time, the entire team wants t...",1.0,...,3.0,3.0,3.0,2.0,Yes,None!,2.0,2.0,2.0,None!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,roshniarun@berkeley.edu,104-6,1.0,Arun,Roshni,3.0,3.0,3.0,Collaboration to finish our gosl,2.0,...,2.0,2.0,2.0,NaN,Yes,NaN,2.0,2.0,2.0,NaN
127,kiliancox@berkeley.edu,104-6,2.0,Cox,Kilian,2.0,2.0,2.0,"Create an effective prototype, and develop a d...",2.0,...,2.0,2.0,2.0,2.0,Yes,NaN,1.0,2.0,1.0,NaN
128,dylan.jemtegaard@berkeley.edu,104-6,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,jasonkhat@berkeley.edu,104-6,4.0,Khatkar,Jason,2.0,2.0,NaN,To do well in our final project together,1.0,...,0.0,3.0,3.0,NaN,Yes,We made a much more solid plan for the last le...,1.0,2.0,-1.0,Maybe don't require me to download software an...
130,elijahpriwer@berkeley.edu,104-6,5.0,Priwer,Elijah,1.0,1.0,1.0,Build a product that we find cool using the sk...,-1.0,...,2.0,2.0,2.0,NaN,Yes,NaN,NaN,NaN,NaN,NaN

In [97]:
# group teams by the average of team members performance

# sum up the values of all numerical questions
numericalDF = oldFileDF[list(oldFileDF.columns[:5])+oldFileResult.getQuantQuestions()]
numericalDF['total team performance'] = numericalDF.iloc[:, 5:].sum(axis=1)

# group teams by the sum of their performance 
teamPerformanceDF = numericalDF.groupby('TeamNumber')['total team performance'].mean().reset_index()
teamPerformanceDF = teamPerformanceDF.sort_values('total team performance', ascending=False).reset_index(drop=True)
teamPerformanceDF

/var/folders/wn/p245w4_d07z716yzmy4c4nlc0000gn/T/ipykernel_8811/1793293516.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numericalDF['total team performance'] = numericalDF.iloc[:, 5:].sum(axis=1)

   TeamNumber  total team performance
0       101-7              179.500000
1       101-1              168.666667
2       102-1              162.500000
3       101-3              161.500000
4       104-2              159.800000
5       103-3              147.800000
6       104-1              143.800000
7       103-1              143.333333
8       101-8              140.500000
9       103-4              139.600000
10      101-6              134.000000
11      104-4              133.800000
12      101-2              127.800000
13      101-4              120.600000
14      104-3              120.600000
15      104-5              118.200000
16      102-3              113.800000
17      102-5              113.000000
18      104-6              107.000000
19      101-5               98.400000
20      103-6               98.000000
21      103-5               96.400000
22      103-2               80.600000
23      102-2               74.200000
24      102-4               62.800000

In [98]:
highestTeamPerform = teamPerformanceDF['TeamNumber'][0]
numericalDF[numericalDF['TeamNumber']==highestTeamPerform]

,Email,TeamNumber,TeammateNumber,RecipientLastName,RecipientFirstName,2.1,2.2,2.3,4.1,4.2,...,19.1,19.2,19.3,19.4,19.5,19.6,38.1,38.2,38.3,total team performance
31,joel.an@berkeley.edu,101-7,1.0,An,Joel,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,184.0
32,rickhuangty@berkeley.edu,101-7,2.0,Huang,Rick,3.0,3.0,3.0,3.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,-1.0,2.0,3.0,177.0
33,sinyuen@berkeley.edu,101-7,3.0,Lee,Harrison,3.0,1.0,2.0,2.0,2.0,...,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0,2.0,167.0
34,ockjh228@berkeley.edu,101-7,4.0,Ock,JongHoon,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,181.0
35,jjosephr@berkeley.edu,101-7,5.0,Rosales,Joseph,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,184.0
36,kz0420@berkeley.edu,101-7,6.0,Zhong,Kaleb,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,184.0

In [99]:
lowestTeamPerform = teamPerformanceDF['TeamNumber'][teamPerformanceDF.shape[0]-1]
numericalDF[numericalDF['TeamNumber']==lowestTeamPerform]

,Email,TeamNumber,TeammateNumber,RecipientLastName,RecipientFirstName,2.1,2.2,2.3,4.1,4.2,...,19.1,19.2,19.3,19.4,19.5,19.6,38.1,38.2,38.3,total team performance
59,doranchang@berkeley.edu,102-4,1.0,Chang,Doran,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82.0
60,steven.ea03@berkeley.edu,102-4,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
61,bygan@berkeley.edu,102-4,3.0,Gan,Bryan,1.0,2.0,1.0,1.0,1.0,...,2.0,-3.0,3.0,3.0,3.0,NaN,3.0,3.0,3.0,130.0
62,linda.krellner@berkeley.edu,102-4,4.0,Krellner,Linda,0.0,0.0,0.0,1.0,-1.0,...,1.0,1.0,2.0,1.0,1.0,NaN,0.0,0.0,0.0,102.0
63,char_lize@berkeley.edu,102-4,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0