```javascript
id: "...",
    name: "...",
    teamMembers: [
      {
        name: "Anna Kuang",
        email: "annakuang@berkeley.edu",
        difficulty: ["Goal Setting", "Work Allocation", "Support"],
      },
      {
        name: "Austin Marr",
        email: "austinmarr@berkeley.edu",
        difficulty: ["Team Role", "Enjoyment", "Team Communication"],
      },
      {
        name: "Ankul Jayakar",
        email: "ankuljayakar@berkeley.edu",
        difficulty: ["Enjoyment", "Team Role"],
      },
      {
        name: "Claire Hsu",
        email: "clairehsu@berkeley.edu",
        difficulty: ["Enjoyment", "Team Communication", "Team Role"],
      },
    ],
    teamDifficulty: [
      {
        name: "Goal Setting",
        proportion: 15,
      },
      {
        name: "Team Role",
        proportion: 20,
      },
      {
        name: "Enjoyment",
        proportion: 10,
      },
      {
        name: "Team Communication",
        proportion: 30,
      },
      {
        name: "Work Allocation",
        proportion: 20,
      },
      {
        name: "Support",
        proportion: 5,
      },
    ],
    teamScore: "20/100",
   ```

team data = 

1. id
    - name
    - teamMembers (list)
        - members.name
        - members.email
        - members.difficulty (list)
    - teamDifficulty (list)
        - teamDifficulty.name
        - teamDifficulty.proportion
    - teamScore

In [4]:
import pandas as pd
data = pd.read_csv("E29_CHECKIN02_Faculty_Insights_v1.csv")
data.head(3)

,Unnamed: 0,TeamNumber,overallDiff,goalsDiff,supportDiff,communicateDiff,workAllocationDiff,teamRoleDiff,enjoyDiff,goalsPct,supportPct,communicatePct,workAllocationPct,teamRolePct,enjoyPct,percentile,topDifficulties,studentsWithDifficulties,Teammates,Emails
0,0,1.0,-3.7,-1.3,-1.3,-0.2,0.0,-0.3,-0.6,0.35,0.35,0.05,0.00,0.08,0.16,13.0,"['goals', 'support']","['goals (Individual): Simran Kaur Khahira, -2....","['Allan Zhong', 'Edwin Lopez', 'Jerrick Wang',...","['allanzhong@berkeley.edu', 'eclopez19@berkele..."
1,1,2.0,-7.8,-1.9,-0.8,-1.4,-1.8,-1.1,-0.8,0.24,0.10,0.18,0.23,0.14,0.10,0.0,"['goals', 'communicate', 'workAllocation']","['goals (Individual): Rolando Torres, -1.2', '...","['Ashley De Jesus', 'Ian Lind', 'Rohan Karra',...","['adejesus22@berkeley.edu', 'ianlind@berkeley...."
2,2,3.0,-2.9,-0.8,-0.3,-1.0,-0.5,0.2,-0.5,0.26,0.10,0.32,0.16,0.00,0.16,21.0,[],[],"['Jared Kazhe', 'Luz Torralba', 'Montek Sethi'...","['jaredkazhe@berkeley.edu', 'luztorralba@berke..."

## TODO

- find out how to iterate through df to populate json file
- difficulties are set on individual level -> should we iterate through the 'studentsWithDifficulties' column to populate this? we lose a sense of magnitude as a result, though
- ask Cady how the team's top difficulties are populated

In [2]:
import json  
     
xxxxxx ={  
  "id": {},  
  "name": {},  
  "department": {}
}  
     
# Convert Python to JSON  
json_object = json.dumps(xxxxxx, indent = 4) 

# Print JSON object
print(json_object)

{
    "id": {},
    "name": {},
    "department": {}
}