```javascript
id: "...",
    name: "...",
    teamMembers: [
      {
        name: "Anna Kuang",
        email: "annakuang@berkeley.edu",
        difficulty: ["Goal Setting", "Work Allocation", "Support"],
      },
      {
        name: "Austin Marr",
        email: "austinmarr@berkeley.edu",
        difficulty: ["Team Role", "Enjoyment", "Team Communication"],
      },
      {
        name: "Ankul Jayakar",
        email: "ankuljayakar@berkeley.edu",
        difficulty: ["Enjoyment", "Team Role"],
      },
      {
        name: "Claire Hsu",
        email: "clairehsu@berkeley.edu",
        difficulty: ["Enjoyment", "Team Communication", "Team Role"],
      },
    ],
    teamDifficulty: [
      {
        name: "Goal Setting",
        proportion: 15,
      },
      {
        name: "Team Role",
        proportion: 20,
      },
      {
        name: "Enjoyment",
        proportion: 10,
      },
      {
        name: "Team Communication",
        proportion: 30,
      },
      {
        name: "Work Allocation",
        proportion: 20,
      },
      {
        name: "Support",
        proportion: 5,
      },
    ],
    teamScore: "20/100",
   ```

team data = 

1. id
    - name
    - teamMembers (list)
        - members.name
        - members.email
        - members.difficulty (list)
    - teamDifficulty (list)
        - teamDifficulty.name
        - teamDifficulty.proportion
    - teamScore

In [21]:
import pandas as pd
data = pd.read_csv("E29_CHECKIN01_Faculty_Insights_v2.csv")
data.head(3)

,Unnamed: 0,TeamNumber,overallDiff,goalsDiff,supportDiff,communicateDiff,workAllocationDiff,teamRoleDiff,enjoyDiff,goalsPct,supportPct,communicatePct,workAllocationPct,teamRolePct,enjoyPct,percentile,topDifficulties,studentsWithDifficulties,Teammates,Emails
0,0,1,-5.9,-0.8,-1.2,-0.9,-1.8,-0.3,-0.9,0.14,0.20,0.15,0.31,0.05,0.15,0.0,"['support', 'workAllocation']","['support (Overall): Simran Kaur Khahira, -1.8...","['Allan Zhong', 'Edwin Lopez', 'Jerrick Wang',...","['allanzhong@berkeley.edu', 'eclopez19@berkele..."
1,1,2,-2.2,-0.8,-0.3,-0.6,-0.3,-0.1,-0.1,0.36,0.14,0.27,0.14,0.05,0.05,28.0,[],[],"['Ashley De Jesus', 'Ian Lind', 'Rohan Karra',...","['adejesus22@berkeley.edu', 'ianlind@berkeley...."
2,2,3,-0.3,0.2,0.0,-0.1,-0.2,0.1,-0.3,0.00,0.00,0.17,0.33,0.00,0.50,47.0,['enjoy'],"['enjoy: Rayme Aquino, -0.8']","['Jared Kazhe', 'Luz Torralba', 'Montek Sethi'...","['jaredkazhe@berkeley.edu', 'luztorralba@berke..."

In [22]:
from scipy import stats
import numpy as np

In [23]:
arr = np.array(data['overallDiff'])#.sort_values()

In [24]:
arr

array([-5.9, -2.2, -0.3,  3.5,  1.7,  1.2, -7.4,  3.8, -1.7,  2.1, -1.4,
       -1.6,  0.7,  4.1, -0.4,  2.3, -0.9,  1.4,  3.9, -0. , -2.6, -1.6,
        4. , -0. , -0.8, -2.4,  3.9,  1. ,  6.1,  6.2, -0.9, -2.3, -3.5,
       -0.2, -1.8])

In [25]:
data["percentile"] = [round(stats.percentileofscore(arr, x), 2) for x in arr]

In [26]:
data.to_csv("test_checkin1.csv")

## TODO

- find out how to iterate through df to populate json file
- difficulties are set on individual level -> should we iterate through the 'studentsWithDifficulties' column to populate this? we lose a sense of magnitude as a result, though
- ask Cady how the team's top difficulties are populated

In [2]:
import json  
     
xxxxxx ={  
  "id": {},  
  "name": {},  
  "department": {}
}  
     
# Convert Python to JSON  
json_object = json.dumps(xxxxxx, indent = 4) 

# Print JSON object
print(json_object)

{
    "id": {},
    "name": {},
    "department": {}
}